<header class="w-full bg-darkChocolate h-auto flex items-center justify-between">
  <!-- Logo  -->
  <div class="md:px-6 px-3 py-4">
    <!-- <img src="assets/images/logo.svg"> -->
    <span class="text-pinkChocolate text-4xl font-bold">MAPISHI</span>
  </div>
  <!-- Nav items  -->
  <yimcipe-nav-links parentContainerClassList="hidden landscape:flex md:flex space-between items-center justify-between w-1/2 text-white" menuItemsClassList="text-md md:text-xl hover:text-pinkChocolate cursor-pointer" dropdownLocationState="header"></yimcipe-nav-links>
  <div class="md:px-6 px-3">
    <!-- <div id="controller" [classList]="profileImageClass"> -->
      <img [src]="'data:image/jpeg;base64, ' + profile.photo" alt="" class="w-14 h-14 rounded-full object-cover object-center cursor-pointer" id="controller">
    <!-- </div> -->
  </div>

</header>
