<div class=" mx-auto bg-white" *ngIf="!viewComments">
  <!-- New Comment here  -->
  <!-- Single Comment -->
<div>
  <div class="flex flex-col items-start justify-center text-pinkChocolate">
    <span class="text-[12px] text-darkChocolate font-bold">{{ commentInfo.commenter }}</span>
    <!-- <span class="text-[10px] text-darkGray" *ngIf="commentInfo.profession">{{ commentInfo.profession }}</span>
    <span class="flex items-center justify-center text-darkGray">
      <img src="assets/images/verified.svg" alt="" class="w-3 h-3" *ngIf="commentInfo.status === 'VERIFIED'">
      <p class="text-[10px]">{{ commentInfo.status }}</p>
    </span> -->
</div>
  <p class="text-darkChocolate border-solid border-b-2 border-darkGray w-full mx-auto py-2">{{ commentInfo.comment }}</p>
</div>
</div>
