<footer class="w-full bg-darkChocolate flex sm:flex-row flex-col justify-center items-center md:justify-around md:items-start">
  <div class="flex flex-col justify-around items-start px-3">
    <div class="my-3">
      <img src="assets/images/logo.svg" alt="Logo">
    </div>
    <!-- Social Icons -->
    <div class="w-full flex items-center justify-between my-3">
      <img src="assets/images/instagram.svg" alt="Instagram">
      <img src="assets/images/twitter.svg" alt="Twitter">
      <img src="assets/images/linkedin.svg" alt="LinkedIn">
    </div>
  </div>
  <div class="flex flex-col space-between items-center md:items-left justify-center my-3 text-white md:w-auto w-1/2">
    <a [routerLink]="['/dashboard/home/main']" [routerLinkActive]="'text-pinkChocolate'" class="text-md md:text-xl hover:text-pinkChocolate py-2">HOME</a>
    <a [routerLink]="['/dashboard/home/personal']" [routerLinkActive]="'text-pinkChocolate'" class="text-md md:text-xl hover:text-pinkChocolate py-2">PERSONAL</a>
    <a [routerLink]="['/dashboard/home/favourite']" [routerLinkActive]="'text-pinkChocolate'" class="text-md md:text-xl hover:text-pinkChocolate py-2">FAVOURITES</a>
    <a [routerLink]="['/dashboard/home/new']" [routerLinkActive]="'text-pinkChocolate'" class="text-md md:text-xl hover:text-pinkChocolate py-2">NEW</a>
  </div>
  <div class="flex flex-col space-between items-center md:items-left justify-center my-3 text-white md:w-auto w-1/2">
    <a [routerLink]="['/dashboard/home/profile']" [routerLinkActive]="'text-pinkChocolate'" class="text-md md:text-xl hover:text-pinkChocolate py-2">PROFILE</a>
    <a [routerLink]="['/user/login']" [routerLinkActive]="'text-pinkChocolate'" class="text-md md:text-xl hover:text-pinkChocolate py-2">LOGOUT</a>
  </div>
  <div class="flex flex-col items-center justify-center px-3">
    <span class="text-pinkChocolate text-xl md:text-2xl py-3 text-center">Search meal by name</span>
    <input type="text" class="bg-darkChocolate border-solid border-2 border-pinkChocolate rounded-lg h-12 w-full py-3 focus:outline-darkGray text-white">
    <button class="py-3 px-6 border-none rounded-lg bg-pinkChocolate text-white my-3 hover:bg-darkGray hover:text-darkChocolate">Search</button>
  </div>
</footer>
