<p>Hey {{ email }},</p>
<p>Please copy the code below and enter in the form. It expires in 15 minutes after which you would have to verify your email again</p>
<p>{{ verificationCode }}</p>

<p>If you did not request this email you can safely ignore it.</p>
