<header class="w-full bg-darkChocolate h-auto flex items-center justify-between">
  <!-- Logo  -->
  <div class="md:px-6 px-3 py-4">
    <img src="assets/images/logo.svg">
  </div>
  <!-- Nav items  -->
  <div class="hidden md:flex space-between items-center justify-between w-1/2 text-white">
    <a href="#" class="text-md md:text-xl hover:text-pinkChocolate">HOME</a>
    <a href="#" class="text-md md:text-xl hover:text-pinkChocolate">PERSONAL</a>
    <a href="#" class="text-md md:text-xl hover:text-pinkChocolate">FAVOURITES</a>
    <a href="#" class="text-md md:text-xl hover:text-pinkChocolate">NEW</a>
  </div>
  <!-- Profile Icon  -->
  <div class="md:px-6 px-3">
    <div class="h-20 w-20 bg-pinkChocolate flex items-center justify-center text-4xl md:text-5xl rounded-full text-darkChocolate hover:bg-darkGray hover:text-white cursor-pointer">{{ nameInitial }}</div>
  </div>
</header>
