<!-- Dropdown Menu -->

<main class="w-full relative">
  <div id="dropdown" class="hidden absolute top-[60vh] left-1/2 transform -translate-x-1/2 -translate-y-[50vh] w-full md:w-[40vw] bg-darkChocolate opacity-[0.95] rounded-lg shadow-lg text-center" #dropdownMenu>
    <img src="assets/images/cancel.svg" class="w-10 h-10 ml-[80%] object-contain" (click)="closeDropdownMenu()">
    <div id="content" class="h-full flex flex-col items-center justify-center">
      <a [routerLink]="['/dashboard/home/main']" class="md:hidden text-md md:text-xl text-center text-white hover:text-pinkChocolate py-6">HOME</a>
      <a [routerLink]="['/dashboard/home/personal']" class="md:hidden text-md md:text-xl text-center text-white hover:text-pinkChocolate py-4">PERSONAL</a>
      <a [routerLink]="['/dashboard/home/favourite']" class="md:hidden text-md md:text-xl text-center text-white hover:text-pinkChocolate py-4">FAVOURITES</a>
      <a [routerLink]="['/dashboard/home/new']" class="md:hidden text-md md:text-xl text-center text-white hover:text-pinkChocolate py-4">NEW</a>
      <a [routerLink]="['/dashboard/home/profile']" class="text-md md:text-xl text-center text-white hover:text-pinkChocolate py-4">PROFILE</a>
      <a [routerLink]="['/user/login']" class="text-md md:text-xl text-center text-white hover:text-pinkChocolate py-4">LOGOUT</a>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center space-y-2 min-h-screen">
    <div class="w-full">
      <yimcipe-toolbar [dropdownMenu]="dropdownMenu"></yimcipe-toolbar>
    </div>
    <div class="w-full mx-auto md:w-[95vw] py-3 bg-lightPink flex-flex-col items-center justify-center space-y-3">
      <router-outlet></router-outlet>
    </div>
    <div class="w-full">
      <yimcipe-footer></yimcipe-footer>
    </div>
  </div>
</main>
