<yimcipe-loading-spinner *ngIf="isLoading$ | async"></yimcipe-loading-spinner>
<section class="w-full h-full py-3" *ngIf="!(isLoading$ | async)">
  <!-- New Recipe Form  -->
  <div class="container mx-auto my-3 flex flex-col items-center justify-center">
  <form>
    <div class="container mx-auto flex flex-col items-start justify-between my-3">
      <label for="text" class="text-darkChocolate font-bold">Recipe Name:</label>
      <input type="text" id="text" name="recipeName" class="block border-solid border-2 border-pinkChocolate rounded-md w-full h-12 focus:outline-none focus:border-darkGray text-md text-darkChocolate peer" placeholder="" autocomplete="off" [name]="'title'" required [(ngModel)]="model.title">
    </div>
    <div class="container mx-auto flex flex-col items-start justify-between my-3">
      <label for="category" class="text-darkChocolate font-bold">Recipe Category:</label>
      <select class="block border-solid border-2 border-pinkChocolate rounded-md w-full h-12 focus:outline-none focus:border-darkGray text-md text-darkChocolate peer bg-white" [ngModelOptions]="{standalone: true}" [name]="'existingCategories'" required [(ngModel)]="model.category" #cat (change)="manageCategories($event)" *ngIf="!state">
        <option *ngFor="let catItem of categoryService.categories | async" [value]="catItem.category">{{ catItem.category }}</option>
        <option>Add new category</option>
      </select>
    </div>
    <div class="container mx-auto flex flex-col items-start justify-between my-3" *ngIf="state">
      <label for="text" class="text-darkChocolate font-bold">Category</label>
      <input type="text" id="text" class="block border-solid border-2 border-pinkChocolate rounded-md w-full h-12 focus:outline-none focus:border-darkGray text-md text-darkChocolate peer" placeholder="Enter new category" autocomplete="off" #category [name]="'category'" required [(ngModel)]="model.category">
    </div>
    <div class="container mx-auto flex flex-col items-start justify-between my-3" *ngIf="state">
      <label for="text" class="text-darkChocolate font-bold">Check to select category from dropdown</label>
      <input type="checkbox" id="" class="block border-solid border-2 border-pinkChocolate rounded-md w-full h-12 focus:outline-none focus:border-darkGray text-md text-darkChocolate peer" placeholder=" " autocomplete="off" #selectFromDropdown [name]="'category'" (change)="manageCheckbox($event)" class="bg-transparent">
    </div>
    <div class="NgxEditor__Wrapper container mx-auto my-3">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        placeholder="Start entering recipe"
        [name]="'content'" required [(ngModel)]="model.content"
     ></ngx-editor>
    </div>
    <div class="text-center">
      <button type="button" class="bg-darkChocolate text-white px-6 py-3 rounded-lg hover:bg-darkGray hover:text-darkChocolate" (click)="addRecipe()" [disabled]="!model.title || !model.category || !model.content">CREATE</button>
    </div>
  </form>
  </div>
</section>

