<main class="w-[90%] mx-auto bg-white flex flex-col items-start justify-between">
  <header>
    <div class="flex space-x-3">
      <div class="rounded-full w-20 h-20 text-darkGray font-bold text-6xl flex items-center justify-center"><img [src]="'data:image/jpeg;base64, ' + recipeService.activeRecipe.user.profile.photo" class="rounded-full object-center object-cover w-full h-full"></div>
        <div class="flex flex-col items-start justify-center text-darkChocolate font-light">
          <h1>{{ recipeService.activeRecipe.user.profile.fullName || recipeService.activeRecipe.user.username }}</h1>
          <h3>{{ recipeService.activeRecipe.user.profile.occupation || 'No occupation' }}</h3>
          <span class="flex items-center justify-center">
            <img src="assets/images/verified.svg" alt="Verified" *ngIf="recipeService.activeRecipe.user.profile?.status === 'VERIFIED'">
            <p class="italic capitalize">{{ recipeService.activeRecipe.user.profile.status }}</p>
          </span>
      </div>
    </div>
  </header>
  <div [innerHTML]="recipeService.activeRecipe.recipeContent"></div>
  <div class="px-3 flex items-center justify-end text-darkChocolate w-full">
    <div class="flex flex-col items-center justify-center px-3 cursor-pointer" (click)="commentService.toggleComments(recipeService.activeRecipe)">
      <img src="assets/images/comments.svg">
      <span>{{ recipeService.activeRecipe.comments.length }}</span>
    </div>
    <div class="flex flex-col items-center justify-center px-3 cursor-pointer">
      <img src="assets/images/upvote.svg" (click)="voteService.makeVote({recipeId: recipeService.activeRecipe.recipeId, voterId: authUser.userId, voteType: 'upvote'})">
      <span>{{ voteService.votes.getValue() | vote:'upvote':recipeService.activeRecipe.recipeId}}</span>
    </div>
    <div class="flex flex-col items-center justify-center px-3 cursor-pointer">
      <img src="assets/images/downvote.svg" (click)="voteService.makeVote({recipeId: recipeService.activeRecipe.recipeId, voterId: authUser.userId, voteType: 'downvote'})">
      <span>{{ voteService.votes.getValue() | vote:'downvote':recipeService.activeRecipe.recipeId}}</span>
    </div>
  </div>
  <!-- Comments section -->
  <div class="px-3 w-full" *ngIf="recipeService.activeRecipe.showComments">
    <form class="flex flex-col md:flex-row items-start md:items-center justify-between" [formGroup]="commentFormService.commentForm">
      <input type="text" placeholder="type commentInfo here..." class="w-full md:w-[80%] border-solid border-b-2 border-darkGray my-3 focus:outline-none" formControlName="comment">
      <button class="bg-darkChocolate text-white hover:bg-pinkChocolate hover:text-darkChocolate px-3 py-2 rounded-lg shadow-lg mb-2 md:mb-0" (click)="commentService.makeComment(authUser.userId, recipeService.activeRecipe.recipeId)">Comment</button>
    </form>
    <div *ngFor="let comment of recipeService.activeRecipe.comments">
      <yimcipe-comments-section *ngIf="recipeService.activeRecipe.showComments" [commentInfo]="{commenter: comment.commenter.username, comment: comment.comment}"></yimcipe-comments-section>
    </div>
  </div>
</main>
