name: Build and deploy Node.js app to Azure Web App - yimcipe-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - name: npm install, build, and test
        working-directory: api
        run: |
          npm install -g pnpm
          pnpm install --if-present
          pnpm run build
      
      - name: Zip all files for upload between jobs
        run: Compress-Archive -Path .\* -DestinationPath api.zip

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: api.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: $

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'yimcipe-api'
          slot-name: 'Production'
          publish-profile: $
          package: api.zip

      - name: Delete zip file
        run: rm api.zip
